.section,
.bg-cover,
.Jovero-section-padding,
.cta-bg3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wishlist_icon svg path {
    stroke: #000;
    /* default outline color */
    fill: transparent;
    transition: all 0.3s ease;
}

.wishlist_icon:hover svg path {
    fill: #ff4d4d;
    /* hover fill color */
    stroke: #ff4d4d;
}

.wishlist_icon.active svg path {
    fill: #ff4d4d;
    /* active state fill color */
    stroke: #ff4d4d;
}

.Jovero-hero-slider-item::before {
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-image: url('../img/hero/overlay.png') !important;
}

.Jovero-service-contact {
    background-image: url('../img/service/bg.png');
}

.Jovero-footer-cta-wrap {
    background-image: url('../img/cta/cta.png');
}

.Jovero-counter-wrap {
    background-image: url('../img/v2/counter-bg.png');
}

/* RTL Support for Navigation Menu */
body.rtl {
    direction: rtl;
    text-align: right;
}

body.rtl .site-menu-main {
    direction: rtl;
    flex-direction: row-reverse;
}

body.rtl .site-menu-main .nav-link-item {
    text-align: right;
}

body.rtl .site-menu-main .nav-link-item i {
    margin-left: 0;
    margin-right: 5px;
    transform: rotate(180deg);
}

body.rtl .site-menu-main .sub-menu {
    right: 0;
    left: auto;
    text-align: right;
}

body.rtl .navbar {
    flex-direction: row-reverse;
}

/* RTL Navbar Structure - Force RTL layout */
html[dir="rtl"] .site-navbar,
body.rtl .site-navbar,
body[dir="rtl"] .site-navbar {
    flex-direction: row-reverse !important;
    display: flex !important;
    direction: rtl !important;
    justify-content: flex-start !important;
}

/* Override main.css justify-content */
html[dir="rtl"] .site-navbar,
body.rtl .site-navbar,
body[dir="rtl"] .site-navbar {
    justify-content: flex-start !important;
}

@media (min-width: 992px) {
    html[dir="rtl"] .site-navbar,
    body.rtl .site-navbar,
    body[dir="rtl"] .site-navbar {
        flex-flow: row-reverse nowrap !important;
        justify-content: flex-start !important;
    }
}

/* In row-reverse: order 0 = rightmost, order 3 = leftmost */
html[dir="rtl"] .site-navbar .brand-logo,
body.rtl .site-navbar .brand-logo,
body[dir="rtl"] .site-navbar .brand-logo {
    order: 0 !important; /* Rightmost in RTL */
    margin-right: 35px !important; /* Space after logo in RTL */
    margin-left: 0 !important;
}

html[dir="rtl"] .site-navbar .menu-block-wrapper,
body.rtl .site-navbar .menu-block-wrapper,
body[dir="rtl"] .site-navbar .menu-block-wrapper {
    order: 1 !important; /* Middle-right in RTL */
    flex: 1 !important;
    margin: 0 !important;
}

html[dir="rtl"] .site-navbar .header-btn,
body.rtl .site-navbar .header-btn,
body[dir="rtl"] .site-navbar .header-btn {
    order: 2 !important; /* Middle-left in RTL */
    margin-right: 0 !important;
    margin-left: 0 !important;
}

html[dir="rtl"] .site-navbar .mobile-menu-trigger,
body.rtl .site-navbar .mobile-menu-trigger,
body[dir="rtl"] .site-navbar .mobile-menu-trigger {
    order: 3 !important; /* Leftmost in RTL */
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* RTL Menu Items - Reverse order so first item is on the right */
html[dir="rtl"] .site-menu-main,
body.rtl .site-menu-main,
body[dir="rtl"] .site-menu-main {
    flex-direction: row-reverse !important;
    justify-content: flex-start !important;
    direction: rtl !important;
}

html[dir="rtl"] .site-menu-main .nav-item,
body.rtl .site-menu-main .nav-item,
body[dir="rtl"] .site-menu-main .nav-item {
    direction: rtl !important;
}

body.rtl .site-menu-main .nav-item {
    text-align: right !important;
}

body.rtl .site-menu-main .nav-link-item {
    text-align: right !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* RTL Sub-menu positioning */
body.rtl .site-menu-main .sub-menu {
    left: auto !important;
    right: 0 !important;
    text-align: right !important;
}

body.rtl .site-menu-main .sub-menu .sub-menu {
    left: auto !important;
    right: 100% !important;
}

body.rtl .go-back i {
    transform: rotate(180deg);
}

body.rtl .Jovero-header-info ul {
    flex-direction: row-reverse;
}

body.rtl .Jovero-header-info-right {
    flex-direction: row-reverse;
}

body.rtl .rtl-arrow {
    transform: rotate(180deg);
    display: inline-block;
}

body.rtl .nav-link-item i.rtl-arrow {
    margin-left: 5px;
    margin-right: 0;
}

/* Force RTL Navbar - Highest Priority */
html[dir="rtl"] nav.navbar.site-navbar,
html[dir="rtl"] .navbar.site-navbar,
body.rtl nav.navbar.site-navbar,
body.rtl .navbar.site-navbar,
body[dir="rtl"] nav.navbar.site-navbar,
body[dir="rtl"] .navbar.site-navbar {
    flex-direction: row-reverse !important;
    direction: rtl !important;
    display: flex !important;
}

html[dir="rtl"] nav.navbar.site-navbar > *,
html[dir="rtl"] .navbar.site-navbar > *,
body.rtl nav.navbar.site-navbar > *,
body.rtl .navbar.site-navbar > *,
body[dir="rtl"] nav.navbar.site-navbar > *,
body[dir="rtl"] .navbar.site-navbar > * {
    display: flex;
}

html[dir="rtl"] nav.navbar.site-navbar .brand-logo,
html[dir="rtl"] .navbar.site-navbar .brand-logo,
body.rtl nav.navbar.site-navbar .brand-logo,
body.rtl .navbar.site-navbar .brand-logo,
body[dir="rtl"] nav.navbar.site-navbar .brand-logo,
body[dir="rtl"] .navbar.site-navbar .brand-logo {
    order: 999 !important;
    margin-right: 35px !important;
    margin-left: 0 !important;
}

html[dir="rtl"] nav.navbar.site-navbar .menu-block-wrapper,
html[dir="rtl"] .navbar.site-navbar .menu-block-wrapper,
body.rtl nav.navbar.site-navbar .menu-block-wrapper,
body.rtl .navbar.site-navbar .menu-block-wrapper,
body[dir="rtl"] nav.navbar.site-navbar .menu-block-wrapper,
body[dir="rtl"] .navbar.site-navbar .menu-block-wrapper {
    order: 998 !important;
    flex: 1 !important;
}

html[dir="rtl"] nav.navbar.site-navbar .header-btn,
html[dir="rtl"] .navbar.site-navbar .header-btn,
body.rtl nav.navbar.site-navbar .header-btn,
body.rtl .navbar.site-navbar .header-btn,
body[dir="rtl"] nav.navbar.site-navbar .header-btn,
body[dir="rtl"] .navbar.site-navbar .header-btn {
    order: 997 !important;
}

html[dir="rtl"] nav.navbar.site-navbar .mobile-menu-trigger,
html[dir="rtl"] .navbar.site-navbar .mobile-menu-trigger,
body.rtl nav.navbar.site-navbar .mobile-menu-trigger,
body.rtl .navbar.site-navbar .mobile-menu-trigger,
body[dir="rtl"] nav.navbar.site-navbar .mobile-menu-trigger,
body[dir="rtl"] .navbar.site-navbar .mobile-menu-trigger {
    order: 996 !important;
}

.Jovero-hero-section {
    background-image: url('../img/hero/bg1.png');
}

.Jovero-service-contact {
    background-image: url('../img/service/bg.png');
}

.custom_image {
    background-image: url('../img/cta/cta-bg2.png');
}

.Jovero-hero-section4 {
    background-image: url('../img/hero/bg3.png');
}

.tech-agency-img {
    background-image: url('../img/hero/bg2.png');
}

.Jovero-footer-cta-wrap {
    background-image: url('../img/cta/cta.png');
}

.Jovero-hero-section8 {
    background-image: url('../img/hero/bg4.png');
}

.custom-image-two {
    background-image: url('../img/cta/cta-bg3.png');
}

.custom-image-two-home {
    background-image: url('../img/cta/cta-bg2.png') !important;
}

.cookie_consent_modal {
    width: 350px;
    padding: 30px;
    background-color: var(--white-color);
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 9999;
    border: 1px solid #e4e4e4;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.cookie_consent_modal .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
}

.cookie_consent_modal h5 {
    font-size: 22px;
    font-weight: 500;
}

.cookie_consent_modal p {
    font-size: 16px;
    line-height: 27px;
    margin-top: 10px;
}

.cookie_consent_modal .thm-btn-two {
    margin-top: 20px;
}

.shop_sidebar_item_box_main.fst {
    min-height: 240px !important;
    height: 0px !important;
}

.dashbord_sidebar {
    border-radius: 0px !important;
    border-right: 1px solid #e3e3ec;
}

.dashbord_bg {
    background: #fff !important;
    box-shadow: 0 12px 40px 4px rgba(10, 22, 94, 0.0784313725) !important;
}

.dashbord_item {
    padding: 0 !important;
    flex-direction: row !important;
    text-align: start !important;
}

.dashbord_item_icon {
    width: 54px !important;
    height: 54px !important;
}

.dashbord_item_text .d-item-label {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.dashbord_table_main .table thead tr th {
    background: #EEF1FF !important;
    white-space: nowrap !important;
}

.d_review_box_head {
    background: #EEF1FF !important;
}

.dashbord_table_main .table tbody tr td {
    min-width: 150px !important;
}