$flaticon_Jovero-font: "flaticon_Jovero";

@font-face {
    font-family: $flaticon_Jovero-font;
    src: url("./flaticon_Jovero.woff2?1af72611aeacce1e3d034c502313dfa7") format("woff2"),
url("./flaticon_Jovero.woff?1af72611aeacce1e3d034c502313dfa7") format("woff"),
url("./flaticon_Jovero.eot?1af72611aeacce1e3d034c502313dfa7#iefix") format("embedded-opentype"),
url("./flaticon_Jovero.ttf?1af72611aeacce1e3d034c502313dfa7") format("truetype"),
url("./flaticon_Jovero.svg?1af72611aeacce1e3d034c502313dfa7#flaticon_Jovero") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_Jovero !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_Jovero-map: (
    "gear": "\f101",
    "customer-support": "\f102",
    "money-bag": "\f103",
    "developer": "\f104",
    "password": "\f105",
    "megaphone": "\f106",
    "vector": "\f107",
    "data": "\f108",
    "wrench": "\f109",
    "briefcase": "\f10a",
    "like": "\f10b",
    "trophy": "\f10c",
    "user": "\f10d",
);

.flaticon-gear:before {
    content: map-get($flaticon_Jovero-map, "gear");
}
.flaticon-customer-support:before {
    content: map-get($flaticon_Jovero-map, "customer-support");
}
.flaticon-money-bag:before {
    content: map-get($flaticon_Jovero-map, "money-bag");
}
.flaticon-developer:before {
    content: map-get($flaticon_Jovero-map, "developer");
}
.flaticon-password:before {
    content: map-get($flaticon_Jovero-map, "password");
}
.flaticon-megaphone:before {
    content: map-get($flaticon_Jovero-map, "megaphone");
}
.flaticon-vector:before {
    content: map-get($flaticon_Jovero-map, "vector");
}
.flaticon-data:before {
    content: map-get($flaticon_Jovero-map, "data");
}
.flaticon-wrench:before {
    content: map-get($flaticon_Jovero-map, "wrench");
}
.flaticon-briefcase:before {
    content: map-get($flaticon_Jovero-map, "briefcase");
}
.flaticon-like:before {
    content: map-get($flaticon_Jovero-map, "like");
}
.flaticon-trophy:before {
    content: map-get($flaticon_Jovero-map, "trophy");
}
.flaticon-user:before {
    content: map-get($flaticon_Jovero-map, "user");
}
